.container {
    width: 100%;
    display: flex;
}

h3 {
    margin-top: 0;
}

hr {
    border-color: rgba(0,0,0,0.15);
    height: 0;
    border-top: none;
    margin-bottom: 20px;
}

.comment {
    float: left;
    width: 33%;
    max-height: 200px;
    display: flex;        
    flex-direction: row;
}

.comment figure {
    width: 25%;
    float: left;
    display: flex;
}

.comment img {
    width: 100%;
    align-self: center;
}

.comment .content {
    width: 75%;
    float: left;
    text-align: left;
    padding: 20px;
    padding-left: 0;
    position: relative;
}

.comment .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding-top: 16px;
    color: red;
    cursor: pointer;
}

.comment .name {
    font-weight: 600;
}

.comment .timestamp {
    font-size: 75%;
    text-align: right;
}

.comments {
    float: left;
    clear: both;
    width: 100%;
}

.add-comment {
    width: 350px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 3px;
}

label {
    min-width: 100px;
    display: inline-block;
    text-align: right;
}

.form-group {
    padding-bottom: 20px;
}

.form-group input {
    margin-left: 10px;
}

button {
    margin-left: 35px;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: #4285F4;
    font-weight: bold;
    font-size: 75%;
    text-transform: uppercase;
}
