.details{

}
.details dl{
    width:500px;
    margin:0 auto;
}
.details dt{
    clear:left;
}
.details dt, .details dd{
    margin:20px 0 0 0;
    float:left;
    width:250px;
    text-align:left;
}
.planet-icon{
    height:1em;
}
label{
    display:block;
}