/* LogItemList */


/*LogItem */

.LogItem {
  width: 85%;
  border: 1px solid;
  margin: 25px auto;
  padding-bottom: 10px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: left;
  border-collapse:collapse;
}

.AddLogItem {
  width: 85%;
  border: 1px solid;
  margin: 25px auto;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: left;
}

.AddLogItem tr td:first-child{
  text-align:right;
  padding-right:15px;
}

th {
  background-color: lightgrey;
  padding-left: 20px;
}

img {
  max-width: 75%;
}

table tbody tr:first-child td{
  padding-top:10px;
}

table tbody tr:last-child td{
  padding-bottom:10px;
}

.userimage {
  width: 10%;
  padding-left: 20px;
  vertical-align: top;
}

h2{
  margin: 5px 0;
}

.username{
  text-align:center;
  font-size: 90%;
  font-weight: bold;
}

.description{
  padding:10px 20px;
}

.dateField{
  padding-top: 10px;
}

.date{
  padding-left: 20px;
  width:100px;
  padding-top: 10px;
}

i.fa{
  padding-right:5px;
}

.actionButtons{
  text-align: right;
  padding-right:10px;
}