.overview{
    display:flex;
    flex-wrap: wrap;
}
.planet{
    transition:.3s transform;
    position:relative;
    margin:15px;
}
.planet img{
    height:120px;
    width:auto;
    max-width:unset; 
    border:4px solid transparent;
    transition: .3s border-color;
}
.planet.selected img, .planet:hover img{
    border-color: orange;
}
.planet .delete-button{
    display:none;
    background:rgba(255,0,0,.5);
    color:white;
    border-radius:50%;
    border-width:0;
    height:2em;
    width:2em;
    padding:4px;
}
.planet:hover .delete-button, .planet.selected .delete-button{
    display:block;
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}

.edit{
    background-image: url("http://localhost:3001/assets/pencil.png");
    display:none;
    position:absolute;
    right:35px;
    top:10px;
    cursor:pointer;
    background-size: 2em;
    height: 2em;
    width: 2em;
}
.planet:hover .edit{
    display: block;
}