.florafaunalist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.active-florafauna {
    box-shadow: 0px 0px 10px #222;
}

.florafaunaitem {
    border: 1px solid #222;
    padding: 10px;
    width: 25%;
    max-width: 300px;
    max-height: 300px;
    margin: 0px 10px;
}

.florafaunacontainer figure img {
    height: 275px;
    width: auto;
}

.florafaunacontainer li{
    text-align: left;
}

.addNew {
    width: 300px;
    height: 300px;
}

.florafaunacontainer form {
    display: flex;
    justify-content: center;
}



.florafaunaitem .delete-button{
    display:none;
    background:rgba(255,0,0,.5);
    color:white;
    border-radius:50%;
    border-width:0;
    height:2em;
    width:2em;
    padding:4px;
}

.florafaunaitem {
    position: relative;
}


.florafaunaitem:hover .delete-button, .active-florafauna .delete-button{
    display:block;
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}