.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0.5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: skew(360deg); }
  to { transform: skew(180deg); }
}